@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: fit-content;
  margin: 0 auto;
  text-align: center;

  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

h2{
  font-weight: 400;
}

#Species {
  width: 1536px !important; 
  height: 776px !important; 
  background-color: #c85F00;
}

#EDA{
  background-color: #0F0529 ;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
